*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    scroll-behavior: smooth;
}

:root {
    --width: 21%;
    --adaptive-width: 20rem;
    --header-padding: 2em;
    --text-color: #777;
    --section-heading-size: 2.6rem;
    --text-size: 1.3rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    color: #777;
    padding: 1em;
    font-size: var(--section-heading-size);
    /* background: linear-gradient(90deg, #000, #fff); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}

p{
    color: var(--text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--text-size);
    padding: 1em 3em;
}

.header{
    display: none;
    min-height: 100vh;
    width: var(--adaptive-width);
    background-color: #333;
    position: fixed;
    box-shadow: 3rem 0 800rem #000;
}



.top{
    min-height: 90vh;
    text-align: right;
}

.logo{
    text-align: center;
    padding: var(--header-padding);
}

.logo img{
    width: 5.5rem;
    border-radius: 50%;
    margin: 1em;
    transition: .2s;
}

.logo img:hover{
    transform: scale(1.1);
    /* border-radius: 5px; */
}

.logo h1{
    font-size: 1.5rem;

}

.logo p{
    font-size: 1.1rem;
    padding: 1em;
}

nav a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em 1.5em;
    font-family: sans-serif;
    font-size: 1.2rem;
    transition: .2s ease;
}

nav a:hover{
    /* transform: scale(1.02); */
    border-radius: 5px;
    background-color: #151515;
}

nav i img{
    width: 1.5rem;
}

.bottom{
    /* background-color: #666; */
    text-align: center;
}

.bottom ul{
    display: inline-flex;
}

.bottom li{
    padding: 0.5em 1.1em;
}

.bottom img{
    width: 1.5rem;
    transition: .3s;
}

.active .second img{
    width: 1.5rem;
    position: fixed;
    top: 1rem;
    left: calc(var(--adaptive-width) - 3rem);
    z-index: 3;
    
}


.main{
    display: block;
    background: linear-gradient(45deg,gray, lightgray, white) center fixed;
    text-align: center;
}


#top{
    background: url(images/it-front-end-developer-1200x630.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 2em;
}

.header-btn{
    position: relative;
}

#top header{
    font-size: 1.5rem;
    padding: 2em 0.5em;
    position: relative;
}

.btn{
    position: fixed;
    top: 1em;
    left: 1em;
    /* z-index: 2; */
}


.btn img{
    width: 1.5rem;
}

.active{
    display: block;
    z-index: 1;
}

#top h1{
    padding: 1em;
    transition: .2s ease;
}

#top h1:hover{
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}

#top a{
    background: linear-gradient(45deg, #f75000, darkorange);
    font-size: 1.2rem;
    padding: 0.8em 2.5em;
    text-decoration: none;
    border-radius: 5px;
}


#portfolio{
    padding: 2em;

}

.col{
    display: grid;
    gap: 2rem;
    padding: 2rem 1rem;
}

.col article{
    width: 100%;
    height: 20rem;
    box-shadow: 0 0 10px var(--text-color), 0 0 20px #888, 0 0 30px #999;
    position: relative;
    border-radius: 8px;
}

.col article:hover{
    transform: scale(1.02);
    transition: .5s;
}

.col img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.col article::before{
    content: 'My Projects';
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.2ch;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.5s ease;
}
article:nth-child(1)::before{
    content: "Tribute Page";
}

article:nth-child(2)::before{
    content: "English learinging site";
    color: var(--text-color);
}

article:nth-child(3)::before{
    content: "BlackJack";
}

article:nth-child(4)::before{
    content: "Yousufi's Photo Gallery";
}

article:nth-child(5)::before{
    content: "Sign up Page";
}

article:nth-child(6)::before{
    content: "Video edit site";
}

article:hover::before{
    opacity: 1;
    top: 10%;
}

#about-me article{
    margin: auto;
    width: 95%;
    background-color: #fff;
    padding: 1em 0;
    margin-bottom: 3em;
}

#about-me img{
    width: 100%;
    height: 30rem;
}

#about-me p{
    padding: 3em;
}

#contacts{
    background-color: #999;
    padding: 1em;
}

#contacts h2{
    color: #fff;
}

#contacts p{
    color: #fff;
    font-size: 1rem;
}

.footer{
    text-align: center;
    box-shadow: 0 -10px 250px black;
}

.footer p{
    font-family: monospace;
    color: #333;
}


@media (min-width: 50rem) {
    #top header{
        color: #fff;
        font-size: 2.4rem;
    }

    .col{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 80rem) {

    .header{
        width: calc(var(--adaptive-width) + 5rem);
    }

    .active .second img{
        left: calc(var(--adaptive-width) + 2rem);
    }

    .col{
        grid-template-columns: repeat(3, 1fr);
    }

    .logo h1{
        font-size: 2rem;
    }

    .logo img{
        width: 6.5rem;
    }

}

@media (min-width:90rem) {
    
    .header{
        display: block;
        width: var(--width);
        box-shadow: none;
    }

    .second{
        display: none;
    }

    .main{
        margin-left: var(--width);
        /* text-align: center; */
    }

    .footer{
        margin-left: var(--width);
    }

    .btn{
        display: none;
    }

}

@media (max-height: 800px){
    .logo{
        padding: calc(var(--header-padding) / 2.6);
    }
}