.container{
    min-height: 100vh;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box{
    background-color: #fff;
    padding: 2em;
}

h1{
    background-color: red;
    color: #fff;
    padding: 0.5em 1.5em;
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

h2{
    font-family: fantasy;
    font-size: 2.5rem;
    font-weight: 500;

}

p {
    max-width: 30ch;
    font-weight: 700;
    line-height: 2;
}


button{
    min-width: 90%;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 4px;
    color: red;
    font-weight: 700;
    font-family:  Arial, Helvetica, sans-serif;
    margin: 4px auto;
    padding: 0.5em;
    text-transform: uppercase;
    transition: .1s;
}


button:hover{
    background: rgba(225, 0, 0, 0.8);
    color: #fff;
}

button:active{
    transform: scale(1.1);
}